<form>
  <fieldset class="form-group">
    <label for="card-type">Select Project</label>
    {{ember-selectize
      content=projects
      optionValuePath="content.id"
      optionLabelPath="content.title"
      selection=project
      placeholder="Select a Project"
    }}
    <small class="text-muted">Select the type of card you want to add</small>
  </fieldset>

  <fieldset class="form-group">
    <label for="card-type">Card Type</label>
    {{ember-selectize
      content=types
      optionValuePath="content.id"
      optionLabelPath="content.title"
      selection=type
      placeholder="Select a Card Type"
    }}
    <small class="text-muted">Select the type of card you want to add</small>
  </fieldset>

  <fieldset class="form-group">
    <label for="card-title">Card Title</label>
    {{input type="text" value=model.title class="form-control" id="card-title" placeholder="Enter the title of the card"}}
    <small class="text-muted">Give your card a nice title</small>
  </fieldset>

  <fieldset class="form-group">
    <label for="card-description">Card Description</label>
    {{textarea value=model.description class="form-control" id="card-description" rows="5"}}
    <small class="text-muted">Describe your card</small>
  </fieldset>

  <div class="form-group">
    <button {{action 'save'}} class="btn btn-success">Save</button>
    <button {{action 'cancel'}} class="btn btn-link">Cancel</button>
  </div>
</form>
