<form>
  <fieldset class="form-group">
    <label for="card-type">Select Project</label>
    {{ember-selectize
      content=projects
      optionValuePath="content.id"
      optionLabelPath="content.title"
      selection=project
      placeholder="Select a Project"
      select-item="selectProject"
      loading=true
    }}
    {{#if errors.project}}
      <small class="text-muted text-danger">{{errors.project}}</small>
    {{/if}}
  </fieldset>

  <fieldset class="form-group">
    <label for="card-type">Card Type</label>
    {{ember-selectize
      content=types
      optionValuePath="content.id"
      optionLabelPath="content.title"
      selection=type
      placeholder="Select a Card Type"
      select-item="selectType"
    }}
    {{#if errors.type}}
      <small class="text-muted text-danger">{{errors.type}}</small>
    {{/if}}
  </fieldset>

  <fieldset class="form-group">
    <label for="card-title">Card Title</label>
    {{input
      type="text"
      value=model.title
      class="form-control"
      id="card-title"
      placeholder="Enter the title of the card"
      focus-out="validateInputTitle"
    }}
    {{#if errors.title}}
      <small class="text-muted text-danger">{{errors.title}}</small>
    {{/if}}
  </fieldset>

  <fieldset class="form-group">
    <label for="card-description">Card Description</label>
    {{textarea
      value=model.description
      class="form-control"
      id="card-description"
      rows="5"
      focus-out="validateInputDescription"
    }}
    {{#if errors.description}}
      <small class="text-muted text-danger">{{errors.description}}</small>
    {{/if}}
  </fieldset>

  <div class="form-group">
    <button {{action 'save'}} class="btn btn-success">Save</button>
    <button {{action 'cancel'}} class="btn btn-link">Cancel</button>
  </div>
</form>
