<div class="row">
  <div class="col-md-2 l-left-container">
    {{layout/side-bar}}
  </div>
  <div class="col-md-10 l-main-container">
    {{layout/secondary-nav-bar}}
    <div class="l-cards-container">
      <div class="row l-title-container">
        <div class="col-md-12">
          {{#if model.title}}
            <h2>{{model.title}}</h2>
          {{else}}
            <h2>Your awesome Project</h2>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card c-card">
            <div class="card-header c-card__header">
              <h4 class="c-card__title">
                Add Project
              </h4>
            </div>
            <div class="card-block c-card__block">
              {{forms/new-project-form model=model}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card c-card">
            <div class="card-block c-card__block">
              <p class="card-title c-card__description">
                {{#if model.description}}
                  {{model.description}}
                {{else}}
                  <img src="/assets/fonts/folder.svg" class="c-card-edit__icon" alt="Your awesome description!">
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
