<div class="row">
  <div class="col-md-2 l-left-container">
    {{layout/side-bar}}
  </div>
  <div class="col-md-10 l-main-container">
    {{layout/secondary-nav-bar}}
    <div class="l-cards-container">
      {{outlet}}
      <div class="col-md-6">
        <div class="card c-card">
          <div class="m-ribbon">
            <span>{{card.type}}</span>
          </div>
          <div class="card-header c-card__header">
            <h4 class="c-card__title">
              {{card.title}}
            </h4>
          </div>
          <div class="card-block c-card__block">
            <p class="card-title c-card__description">
              {{card.description}}
            </p>
          </div>
        </div>
        {{#link-to 'card.card.edit' card}}Edit{{/link-to}}
      </div>
    </div>
  </div>
</div>
