<div class="row">
  <div class="col-md-2 l-left-container">
    {{layout/side-bar}}
  </div>
  <div class="col-md-10 l-main-container">
    {{layout/secondary-nav-bar}}
    <div class="l-cards-container">
      {{outlet}}
      <div class="col-md-6">
        <div class="card c-card">
          <div class="m-ribbon">
            <span>{{card.type}}</span>
          </div>
          <div class="card-header c-card__header">
            <h4 class="c-card__title">
              {{card.title}}
            </h4>
          </div>
          <div class="card-block c-card__block">
            <p class="c-card__description">
              {{card.description}}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card c-card">
          <div class="card-header">
            Details
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="tag tag-default tag-pill pull-xs-right">14</span>
              Members
            </li>
            <li class="list-group-item">
              <span class="tag tag-default tag-pill pull-xs-right">2</span>
              Views
            </li>
            <li class="list-group-item">
              In Progress
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card c-card">
          <div class="card-header">
            Actions
          </div>
          <ul class="list-group">
            {{#link-to 'card.card.edit' card}}
              <li class="list-group-item">Edit</li>
            {{/link-to}}
            <li class="list-group-item">Archive</li>
            <li class="list-group-item"><a href="#" {{ action "deleteCard" card }}>Delete</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
