<div class="btn-group">
  {{#if isEditing}}
    <button type="button" class="btn btn-secondary" {{ action "isNotEditing" card.id}}>Cancel</button>
  {{else}}
    <button type="button" class="btn btn-secondary" {{ action "isEditing" card.id}}>Edit</button>
  {{/if}}

  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Actions</span>
  </button>
  <div class="dropdown-menu">
    {{#if isEditing}}
    {{/if}}
    {{#if (eq card.status "unarchived")}}
      <a href="#" {{ action "archiveCard" card }} class="dropdown-item">Archive</a>
    {{else}}
      <a href="#" {{ action "unarchiveCard" card }} class="dropdown-item">Unarchive</a>
    {{/if}}
    <a href="#" {{ action "deleteCard" card }} class="dropdown-item">Delete</a>
  </div>
</div>
