<div class="card c-card">
  <div class="card-header c-card__header">
    <h4 class="c-card__title">Actions</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      {{#if isEditing}}
        <a href="#" {{ action "isNotEditing" card.id}}>Cancel</a>
      {{else}}
        <a href="#" {{ action "isEditing" card.id}}>Edit</a>
      {{/if}}
    </li>
    <li class="list-group-item">
      {{#if (eq card.status "unarchived")}}
        <a href="#" {{ action "archiveCard" card }}>Archive</a>
      {{else}}
        <a href="#" {{ action "unarchiveCard" card }}>Unarchive</a>
      {{/if}}
    </li>
    <li class="list-group-item">
      <a href="#" {{ action "deleteCard" card }}>Delete</a>
    </li>
  </ul>
</div>
